body {
    margin: 0 0 0 0;
}
/*
    Estilização da div principal e aplicação da animação do degradê de fundo/

*/
.main-grind {
    z-index: 1;
    position: absolute;
    color: black;
    background: linear-gradient(90deg, #69bd71,  #23D5AB, #23D5AB, #23A6D5);
    background-size: 400% 400%;
    width: 100%;
    padding: 0;
    margin: 0;
    animation: change 15s ease-in-out infinite;
}
@keyframes change {
    0% {
        background-position: 0 100%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0 100%;
    }
}
/*
    Estilização do cabeçalho, o qual foi mantido fixo durante a rolagem
    e contém logo e barra de navegação/
    
*/
.header-logo {
    background-color:black;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 12;
}
.header-logo img {
    max-width:210px;
    position: relative;
}
nav {
    background-color: black;
    min-height: 30px;
    border-bottom: 3px solid white;
    position: fixed;
    width: 100%;
    z-index: 13;
}
nav ul li {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 8px;
    margin-right: 50px;
    font-size: 90%;
}
nav ul li a:hover {
    border-bottom: 3px white solid;
}
nav ul li a {
    width: 100%;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
nav ul {
    padding: 0;
    max-width: 956px;
    margin: auto;
}
/*
    Ajuste e personalização do Carrosel de imagens/

*/
.space-overslider {
    min-height: 105px;
}
.slider {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    min-width: 200px;
    border-bottom: 3px solid white;
}
button.slick-prev { 
    width: 52px;
    height: 52px;
    font-size: 0px;
    border: none;
    background-color: transparent;
    background-image: url('../img/LeftArrow.png');
    position: absolute;
    left: 0px;
    z-index: 9;
    top: 50%;
}
button.slick-next {
    width: 52px;
    height: 52px;
    font-size: 0px;
    border: none;
    background-color: transparent;
    background-image: url('../img/RightArrow.png');
    position: absolute;
    right: 0px;
    z-index: 10;
    top: 50%;
}
/*
    Personalização da divisão Sobre a Casa Jabuti/

*/
.space-underslider {
    height: 70px;
    min-width: 200px;
    max-width: 950px;
    margin: auto;
    border-bottom: 3px black solid;
}
.about {
    padding-bottom: 20px;
}
.about h1 {
    font-family: Euphorigenic;
    font-size: 200%;
    font-weight: normal;
    margin: 0 auto;
    text-align: center;
    max-width: 400px;
}
.about p {
    font-size: 120%;
    text-align: justify;
    text-indent: 1.5cm;
    margin-left: 200px;
    margin-right: 200px;
    min-width: 200px;
}
.about2 {
    margin-left: 200px;
    margin-right: 200px;
    min-width: 200px;
    border-bottom: solid 3px black;
    padding-bottom: 25px;
}
.about2 h1 {
    font-family: Euphorigenic;
    font-size: 200%;
    font-weight: normal;
    margin: 0 auto;
    text-align: center;
    max-width: 400px;
}
.about2 ul li {
    max-width: 220px;
    font-size: 120%;
    margin: 0 auto;
}
.swimming {
    list-style-image: url(../img/Swimming.png);
}
.garden {
    list-style-image: url(../img/Garden.png);
}
.parking {
    list-style-image: url(../img/Parking.png);
}
.wifi {
    list-style-image: url(../img/WiFi.png);
}
.family {
    list-style-image: url(../img/Family.png);
}
.no-smoking {
    list-style-image: url(../img/No-Smoking.png);
}
.pub {
    list-style-image: url(../img/Pub.png);
}
/*
    Estilização das cartas de informação das suítes da Casa Jabuti

*/
.banners {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}
.banner-img {
    background-color:black;
    border-radius: 0.5cm;
}
.banner-img img {
    object-fit: cover;
    border-radius: 0.5cm;
    opacity: 0.8;
    transition: opacity 0.3s;
}
.banner-info {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    bottom: 0;
    padding: 0.2cm;
    text-shadow: 0.3cm 0.2cm 0.3cm rgba(0, 0, 0, 0.4);
    animation: all 0.3s;
}
.bedrooms h1 {
    font-family: Euphorigenic;
    font-size: 200%;
    font-weight: normal;
    margin: 0 auto;
    text-align: center;
    max-width: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.banner-info h2 {
    color: #69bd71;
    font-size: 50px;
    font-family: Michella Garden;
    font-weight: 100;
}
.banner-info h3 {
    color: white;
    font-size: 25px;
    font-family: Euphorigenic;
    font-weight: bolder;
    padding: 0;
    margin: 0;
}
.banner-info p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: white;
    font-size: 90%;
}
.banner1:hover .banner-info {
    bottom: 0.5cm;
    opacity: 1;
    visibility: visible;
}
.banner2:hover .banner-info {
    bottom: 0.5cm;
    opacity: 1;
    visibility: visible;
}
.banner3:hover .banner-info {
    bottom: 0.5cm;
    opacity: 1;
    visibility: visible;
}
.banner1:hover .banner-img img {
    opacity: 0.6;
}
.banner2:hover .banner-img img {
    opacity: 0.6;
}
.banner3:hover .banner-img img {
    opacity: 0.6;
}
/*
    Estilização da consulta de orçamento do site/

*/
.estimative {
    max-width: 955px;
    margin: auto;
}
.estimative h1 {
    padding-top: 60px;
    padding-bottom: 40px;
    margin: auto;
    font-size: 200%;
    font-family: Euphorigenic;
    font-weight: normal;
    text-align: center;
    max-width: 400px;
}
label {
    font-size: 135%;
    font-family: Euphorigenic;
    font-weight: normal;
    text-align: center;
}
.button {
    border-radius: 0.5cm;
}
/*
    Divisão do Mapa do Google
    Google Maps's Division
*/
.border-overmap {
    height: 50px;
    border-bottom: solid 3px black;
    margin-left: 200px;
    margin-right: 200px;
    min-width: 250px;
}
#location-map{
    background: #fff;
    border: none;
    height: 540px;
    width: 100%;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.localization h1 {
    padding-top: 60px;
    margin: auto;
    font-size: 200%;
    font-family: Euphorigenic;
    font-weight: normal;
    text-align: center;
    max-width: 400px;
}
#map {
    height: 415px;
    margin: auto;
    width: 70%;
    margin-top: 40px;
    margin-bottom: 50px;
}
/*
    Slogan da Casa Jabuti/
    Jabuti House's slogan
*/
.slogan {
    border-top: solid 3px black;
    margin-left: 200px;
    margin-right: 200px;
    min-width: 300px;
}
.slogan h1 {
    font-family: Euphorigenic;
    border: 3px solid black;
    font-size: 500%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px 20px;
    text-align: center;
    min-width: 200px;
    max-width: 200px;
}
.slogan h2 {
    min-width: 200px;
    text-align: center;
}
/*
    Rodapé com contatos/
*/
footer {
    border-top: 3px solid white;
    position: absolute;
    background-color:black;
    min-height: 150px;
    width: 100%;
}
footer h1 {
    color: white;
    margin-left: 200px;
    margin-right: 200px;
    min-width: 200px;
    text-align: center;
}
footer ul li {
    display: inline-block;
}
footer ul li a img:hover {
    opacity: 10%;
}
footer ul li img {
    height: 10%;
}
footer ul{
    max-width: 610px;
    padding: 0%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.instagram {
    margin-left: 90px;
}
.booking {
    margin-left: 90px;
}
